* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

.room {
  width: 200px;
  height: 240px;

  /* margin: 10px; */
  /* position: relative; */
}
.video{
  width: 180px;
  height: 150px;
    transform: scaleX(-1);

  
}
.rooms{
  width: 100%;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  background-color: bisque;
}
