* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Main_room {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.room {
  width: 300px;
  height: 300px;
  margin: 10px;
  position: relative;
}

.room p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  color: white;
}

button {
  background-color: #2D8CFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0C64C1;
}
